body{
width:100%;
background-color: #202020;
color: #202020;
padding-top:50px;
/*font-family: Arial, Helvetica, sans-serif;*/
}

input:focus, input:active {
outline:none !important;
}

h2{
color:red;
font-size: 1.3em;
}

/* make the canvas the size of the viewport */
canvas {
	width: 100vw;
	height: 100vh;
	display: block;
  }

.btn{
	border-radius: 0;
}

.comment{
	color:red;
}
.comment2{
	color:blue;
}
#template_links, #effect_links, #color_links{

}

#template_links input, #effect_links input, #color_links input{
border: 1px solid #202020;
height: 40px;
}

#template_links{
}

#effect_links{
}


#color_links{
}

#effect_links input{
min-width: 180px;
}

#color_links input{
width: 100px;
border: none;
padding:0px;

}
input:active{
filter: brightness(85%);
}

#pp{
color: #d0d0d0;
background-color: #202020;
}

#pp.div{
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
padding-left: 5px;
font-size: 1em;
color: #d0d0d0;
background-color: #202020;
border-right: 0px !important;
}

#pp div:focus{
color: #202020;
background-color: #d0d0d0;
}

#pp span{
	padding: 6px;
	font-weight: 600;
}
#error_message{
font-size: 1.2em;
color: #000;
background-color: red;
}

.controls{
}

.output{
	padding-right:0px;
}
.top-buffer { margin-top:20px; }

.controls input[type="button" i]
{
background-color: black;
color: red;
border: 1px solid red;
height:35px;
min-width: 100px;
}


.container-full {
margin: 0 auto;
width: 100%;
}



